<%- include("partials/header.ejs") %>
<main id="contact-main">
  <h1>Hello, I am Anurag Semwal.</h1>
  <p>Contact me on <span> semwalanuragjune@gmail.com </span></p>
</main>
<%- include("partials/footer.ejs") %>
