<%- include("partials/header.ejs") %>
<main id="index-main">
  <div class="form-div">
    <form action="/submit" method="post">
      <% if(posts.length !== 0) {%>
      <textarea type="text" name="post" class="post" placeholder="You have <%= posts.length %> To-Do's"></textarea>
      <% } else {%>
      <textarea type="text" name="post" class="post" placeholder="No To-Do's yet. Try creating one."></textarea>
      <% } %>
      <button type="submit" id="submit">
        <i class="fi fi-br-paper-plane-top"></i>
      </button>
    </form>
  </div>
</main>
<%- include("partials/footer.ejs") %>
